@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);


.App {
  text-align: center;
  font-family:  'Montserrat', sans-serif;
}

.header {
  padding: 15px;
  border-bottom: 2px solid #ededed;
  background-image: url('./floral_background.jpeg');
}

h1 {
  color: black;
}

/* Search Bar
https://codepen.io/huange/pen/rbqsD
*/
form {
  width: 100%;
  margin-bottom: 5px;
  position: relative;
  display: flex;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  transition: all .4s;
}

form:hover {
  box-shadow: 4px 4px 8px #d9d9d9;
  border-radius: 10px;
}

input {
  width: 100%;
  border-right: none;
  padding: 8px;
  height: 26px;
  border-radius: 9px 0 0 9px;
  outline: none;
  font-size: 18px;
  color: #6c6c6c;
  border: none;
}

button {
  width: 40px;
  height: 42px;
  text-align: center;
  color: #a6a6a6;
  border-radius: 0 9px 9px 0;
  cursor: pointer;
  font-size: 20px;
  background-color: white;
  border: none;
}

button:hover {
  font-size: 25px;
}

.wrap {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* search result section */
li {
  width: 80%;
  margin: 0 auto; 
  border-top: 2px solid #d9d9d9;
}

a {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

.left-side {
  flex: 10%;
  padding: 10px;
  object-fit: contain;
}

.left-side img {
  width: 180px;
}

.right-side {
  flex: 90%;
}

.description {
  text-align: left;
}

.right-side::-webkit-scrollbar {
  display: none;
}

