@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);


.App {
  text-align: center;
  font-family:  'Montserrat', sans-serif;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  padding: 15px;
  border-bottom: 2px solid #ededed;

}

h1 {
  color: black;
}

li {
  width: 80%;
  margin: 0 auto; 
  border-top: 2px solid #d9d9d9;
}

/*
li {
  //width: 70%;
  margin: 25px;
  height: 300px;
  border: 2px solid #ededed;
  border-radius: 10px;

}
*/

a {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

/*
a:hover {
  box-shadow: 4px 4px 8px grey;
  transition: all .4s;
}
*/

.left-side {
  flex: 10%;
  padding: 10px;
  object-fit: contain;
  
}

.left-side img {
  width: 180px;
}

.right-side {
  flex: 90%;
  /*overflow: auto; */
}

.description {
  text-align: left;
}

.right-side::-webkit-scrollbar {
  display: none;
}
/*
https://codepen.io/huange/pen/rbqsD
*/
/* Search Bar*/
form {
  width: 100%;
  margin-bottom: 5px;
  position: relative;
  display: flex;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  transition: all .4s;
  
}

form:hover {
  box-shadow: 4px 4px 8px #d9d9d9;
  border-radius: 10px;
}

input {
  width: 100%;
  border-right: none;
  padding: 8px;
  height: 26px;
  border-radius: 10px 0 0 10px;
  outline: none;
  font-size: 18px;
  color: #6c6c6c;
  border: none;
}

button {
  width: 40px;
  height: 41px;
  text-align: center;
  color: #a6a6a6;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  border: none;
}

button:hover {
  font-size: 25px;
}

.wrap {

  width: 50%;
  margin-left: auto;
  margin-right: auto;
}